* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: antiquewhite;
	color: black;
	font-family: Garamond, serif;
	padding: .5em;
}

article {
	padding: .5em;
	width: 50%;
}
